@import "./../../../../variables.scss";

.button {
  font-family: "Poppins";
  background: transparent;
  border: 1px solid $grey-light;
  outline: none;
  border-radius: 3px;
  color: $grey;
  min-width: 94px;
  height: 40px;
  box-shadow: none;
  transition: all 0.3s;
  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $blue-light !important;
    background-color: $blue-light !important;
    color: $white;
    .buttonIcon {
      color: $white;
    }
  }
}
.buttonIcon {
  color: $black;
}
