.link {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(103, 117, 214, 0.8);
    .title,
    .subtitle {
      color: #fff;
    }
    .shopLinkParent {
      transform: scaleX(1);
    }
    .shopLink {
      transform: translateY(0%);
    }
  }
}

.border {
  border: 1px solid #e6e6e6;
}

.title {
  font-family: "Poppins";
  line-height: 1.1;
  color: #333;
  transition: all 0.4s;
  font-weight: 700;
}

.subtitle {
  font-family: "Poppins";
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  transition: all 0.4s;
}

.shopLinkParent {
  overflow: hidden;
  transform: scaleX(0);
  border-bottom: 2px solid #fff;
  transition: transform 0.5s ease-in-out;
}
.shopLink {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 1.466667;
  font-weight: 500;
  padding-bottom: 2px;
  color: #fff;
  transition: all 0.9s;
  transform: translateY(250%);
}
