@import "./../../../variables.scss";

.shopSection {
  padding-top: 20px;
  padding-bottom: 140px;
}

.headingSection {
  font-family: "Poppins";
  color: $black;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}

.filterNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  font-size: 0.9rem;
  background-color: $grey-light;
  min-width: 180px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  text-transform: uppercase;
  color: $black;
  line-height: 1.466667;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

@media (max-width: 767px) {
  .filterNavigation {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    > div,
    > ul {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
