@import "./../../../../variables.scss";

.button {
  font-size: 0.9rem;
  background-color: $grey-light;
  min-width: 180px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  text-transform: uppercase;
  color: $black;
  line-height: 1.466667;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 0;
  outline: none;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:focus {
    outline: 0;
  }
}

.blueButton {
  background-color: $blue-light;
  color: $white;
  &:hover {
    background-color: $white;
    color: $blue-light;
  }
}
