.flex {
  display: flex;
}

.flexColL {
  align-items: flex-start;
  flex-direction: column;
}

.flexW {
  flex-wrap: wrap;
}

.flexSbM {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.flexT {
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flexCM {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.pR25 {
  padding-right: 25px;
}

.pL65 {
  padding-left: 65px;
}

.pB8 {
  padding-bottom: 8px;
}

.pT8 {
  padding-top: 8px;
}

.pLR5 {
  padding-left: 5px;
}

.pLR15 {
  padding-right: 15px;
  padding-left: 15px;
}

.pTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mR8 {
  margin-right: 8px;
}
.mB10 {
  margin-bottom: 10px;
}

.mB12 {
  margin-bottom: 12px;
}

.mB18 {
  margin-bottom: 18px;
}

.lH10 {
  line-height: 1;
}

.wFull {
  width: 100%;
}

.pS {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.cl2 {
  color: #333;
}
.cl0 {
  color: #fff;
}

.bg3 {
  background-color: #222;
}

.fS35 {
  font-size: 35px;
}

.trans04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bor2 {
  border-radius: 20px;
}

.wrapHeaderCart {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1100;
  width: 100%;
  height: 100vh;
  top: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.sFull {
  width: 100%;
  height: 100%;
}

.headerCart {
  position: fixed;
  z-index: 1100;
  width: 390px;
  max-width: calc(100% - 30px);
  height: 100vh;
  top: 0;
  right: 0px;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.34;
  transition: all 0.4s;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  /* animation-name: slideIn;
  animation-duration: 1s; */
}

.headerCartTitle {
  width: 260px;
  max-width: 100%;
  height: 16.5%;
  min-height: 85px;
}

.mtext103 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  line-height: 1.333333;
  text-transform: uppercase;
}

.hovCl1:hover {
  color: #717fe0;
}

.headerCartContent {
  flex-grow: 1;
  align-content: space-between;
}

.headerCartWrapItem {
  flex-grow: 1;
}

.headerCartItemImg {
  width: 60px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.headerCartItemTxt {
  width: calc(100% - 80px);
}

.headerCartItemName {
  display: block;
  font-family: "Poppins";
  font-size: 14px;
  color: #555;
  line-height: 1.3;
}

.headerCartItemInfo {
  display: block;
  font-family: "Poppins";
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}

.headerCartTotal {
  font-family: "Poppins";
  font-size: 18px;
  color: #222;
  line-height: 1.3;
}
.headerCartButtons {
  justify-content: space-between;
}

.sText101 {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
}

.size107 {
  min-width: 140px;
  height: 40px;
}

.hovBtn3:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}
