/* General Styling */

.flex {
  display: flex;
}

.flexSbM {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.flexCM {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flexW {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hFull {
  height: 100%;
}

.trans04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pLR25 {
  padding-left: 25px;
  padding-right: 25px;
}

.topBar {
  height: 40px;
  background-color: #222;
}

.leftTopBar {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.8;
  color: #b2b2b2;
}

.rightTopBar a {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.8;
  height: 100%;
  color: #b2b2b2;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.rightTopBar a:hover {
  color: #6c7ae0;
}

.rightTopBar a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
