.iconHeaderItem {
  position: relative;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}

.cl2 {
  color: #333;
}
.cl2:hover {
  color: #717fe0;
}
.trans04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pR11 {
  padding-right: 11px;
}
.pL22 {
  padding-left: 22px;
}
.zmdi {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconHeaderNoti::after {
  content: attr(data-notify);
  font-family: "Poppins";
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  min-width: 15px;
  height: 15px;
  padding: 0 3px;
  background-color: #717fe0;
}
@media (max-width: 991px) {
  .pL22 {
    padding-left: 10px;
  }
}
