.hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  font: inherit;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburgerBox {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburgerInner {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburgerSqueeze .hamburgerInner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.1s;
}

.hamburgerSqueeze .hamburgerInner::before {
  transition: top 0.1s ease 0.14s, opacity 0.1s ease;
}

.hamburgerInner:before {
  content: "";
  display: block;
  top: -10px;
  border-radius: 4px;
  background-color: #000;
  position: absolute;
  width: 40px;
  height: 4px;
}

.hamburgerSqueeze .hamburgerInner:after {
  transition: bottom 0.1s ease 0.14s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerInner:after {
  content: "";
  display: block;
  bottom: -10px;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: #000;
}
