@import "./../../../../variables.scss";
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
}

.modalInside {
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

.closeIcon {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 6px;
  color: $grey-dark;
  font-size: 2.2rem;
  transition: color 0.4s ease-in;
  cursor: pointer;
  &:hover {
    color: $grey-light;
  }
}

.modalProduct {
  background: $white;
  opacity: 1;
  padding: 60px 15px 30px 15px;
  max-height: 90vh;
}
