@import "./../../../../variables.scss";

.imageBox {
  overflow: hidden;
  &:hover {
    .image {
      transform: scale(1.1);
    }
    .button {
      display: block;
      bottom: 20px;
    }
  }
  img {
    visibility: visible;
    transition: transform 0.5s ease;
  }
}

.button {
  position: absolute;
  line-height: 40px;
  text-align: center;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  min-width: 139px;
  height: 40px;
  border-radius: 20px;
  font-size: 0.9rem;
  color: $black-light;
  background: $white;
  border-color: $white;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $black-light;
    border-color: $black-light;
    color: $white;
  }
}
.link {
  color: $grey-light-three;
  font-size: 0.875rem;
  transition: all 0.4s;
  &:hover {
    color: $blue-light;
  }
}

.price {
  color: $grey-dark;
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 1.466667;
}

.icon {
  color: $grey-light-three;
  font-size: 1.2rem;
  &:hover {
    color: $blue-light;
    cursor: pointer;
  }
}
