@import "./../../../../variables.scss";

.search {
  width: 100%;
  height: 60px;
  border: 1px solid $grey-light;
  padding-left: 38px;
  line-height: 1.625;
  color: $black-light;
}

.searchSubmit {
  position: absolute;
  height: 100%;
  width: 38px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s color ease-in-out;
  &:hover,
  &:active,
  &:focus {
    color: $blue-light;
  }
}
