@import "./../../../../../variables.scss";

.tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    cursor: pointer;
    border: 1px solid $grey-light-two;
    border-radius: 20px;
  }
  &:checked {
    &:after {
      border: 1px solid $blue-light;
    }
  }
}

.tag:checked + .label {
  color: $blue-light;
}

.label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 13px;
  color: $grey;
}
