@import "./../../../../../variables.scss";

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.2;
  &:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 1px solid $grey-light-two;
    border-radius: 15px;
  }
  &:checked {
    &:after {
      background-color: $blue-light-one;
      border: 1px solid $blue-light-one;
    }
    ~ label {
      color: $blue-light-one;
      border-bottom: 1px solid $blue-light-one;
    }
  }
}

.label {
  font-size: 15px;
  color: $grey-light-two;
  border-bottom: 1px solid transparent;
  line-height: 1.2;
  transition: all 0.4s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $blue-light-one;
    border-bottom: 1px solid $blue-light-one;
  }
}
