.flex {
  display: flex;
}

.flexW {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hFull {
  height: 100%;
}

.flexCM {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.trans04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pLR10 {
  padding-right: 10px;
  padding-left: 10px;
}

.menuMobile {
  width: 100%;
  background-color: white;
  display: block;
}
.topbarMobile {
  margin-bottom: 0px;
}
.topbarMobile li {
  padding: 8px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #222;
}

.leftTopBar {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.8;
  color: #b2b2b2;
}

.rightTopBar a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.rightTopBar a {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.8;
  height: 100%;
  color: #b2b2b2;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.rightTopBar a:hover {
  color: #6c7ae0;
}

.menuMobile .rightTopBar .active {
  color: #6c7ae0 !important;
}

.mainMenuM {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #717fe0;
}

.mainMenuM > li {
  color: white;
  position: relative;
}

.mainMenuM > li > a {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  line-height: 2.8;
  padding: 8px 20px 8px 20px;
}

.label1 {
  position: relative;
}

.label1::after {
  content: attr(data-label1);
  font-family: "Poppins";
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: absolute;
  top: 3px;
  right: -9px;
  height: 15px;
  min-width: 32px;
  border-radius: 7px;
  padding: 0 4px;
  background-color: #f74877;
}

.label1.rs1::after {
  top: calc(50% - 8px);
  right: auto;
  left: 90%;
}

@media (min-width: 991px) {
  .menuMobile {
    display: none;
  }
}
