@import "./../../../../variables.scss";

.navigation {
  display: flex;
  flex-wrap: wrap;
  .link {
    font-size: 0.9rem;
    color: $grey;
    margin: 5px 32px 5px 0px;
    border-bottom: 1px solid transparent;
    transition: color 0.4s ease-in, border-bottom 0.5s ease-in;
    &:focus,
    &:hover {
      color: $black-light !important;
      border-bottom: 1px solid $grey-light-four;
    }
  }
}
