@import "./../../../../variables.scss";

.colBox {
  color: $grey-light-five;
  overflow: auto;
  padding-bottom: 40px;
  h4 {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
    color: $white;
    padding-bottom: 30px;
    margin: 0;
  }

  a {
    color: $grey-light-five;
    &:hover {
      color: $blue-light;
    }
  }

  ul li {
    padding-bottom: 10px;
    a {
      font-size: 0.8rem;
    }
  }
  p {
    font-size: 0.8rem;
    line-height: 1.923;
    margin: 0;
  }
  .social {
    padding-top: 27px;
    a {
      font-size: 1.5rem;
      margin-right: 16px;
    }
  }
  .inputBox {
    position: relative;
    input {
      line-height: 3;
      width: 100%;
      background-color: transparent;
      color: $grey-light-five;
      font-size: 0.8rem;
      border-width: 0;
      border-color: $blue-light;
      outline: none;
      border: none;
      &:focus ~ span {
        width: 100%;
      }
    }
    span {
      position: absolute;
      left: 0;
      width: 0;
      bottom: 0;
      height: 2px;
      background: $blue-light;
      transition: all 0.4s;
    }
  }
  .buttonBox {
    padding-top: 18px;
  }
}
