.flex {
  display: flex;
}

.flexCM {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.flexW {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pL15 {
  padding-left: 15px;
}

.trans04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.containerSearchHeader {
  width: auto;
  max-width: 100%;
  position: relative;
}

.modalSearchHeader {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px 15px 100px 15px;
}

.button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btnHideModalSearch {
  position: absolute;
  padding: 5px;
  right: 0;
  top: -45px;
  opacity: 0.8;
}

.wrapSearchHeader {
  width: 960px;
  max-width: 100%;
  height: 120px;
  border: 2px solid #e6e6e6;
  background: #fff;
}

.wrapSearchHeader button {
  font-size: 50px;
  color: #333;
  width: 70px;
  height: 100%;
}

.zmdi {
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapSearchHeader input {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2;
  color: #333;
  padding: 0px 30px 0px 0px;
  width: calc(100% - 70px);
  height: 100%;
  background-color: transparent;
}
