@import "./../../../variables.scss";

.wrapper {
  padding-top: 75px;
  padding-bottom: 32px;
  background-color: $black-light-two;
  .payMethods {
    padding-top: 50px;
    padding-bottom: 18px;
  }
}
