// import global variables
@import "./variables.scss";

// Poppins Font
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/Poppins-Regular.ttf') format('truetype'); /* others */
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Medium.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/Poppins-Medium.ttf') format('truetype'); /* others */
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Bold.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/Poppins-Bold.ttf') format('truetype'); /* others */
  font-weight: 700;
}

// PlayFair Font
@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype'); /* others */
  font-weight: 400;
}
@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/PlayfairDisplay-Medium.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype'); /* others */
  font-weight: 500;
}

@font-face {
  font-family: Playfair;
  src: url("./assets/fonts/PlayfairDisplay-Bold.ttf"); /* IE */
  src: local('Poppins'), url('./assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype'); /* others */
  font-weight: 700;
}


body,
html {
  font-family: "Poppins";
  font-size: 16px;
  color: $grey-dark;
  height: 100%;
  font-weight: 400;
  background-color: $white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $black-light-one;
  background-color: $white;
  overflow-x: hidden;
}
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  color: $black-light;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  vertical-align: middle;
  border-style: none;
}

dl,
ol,
ul,
li {
  margin: 0px;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
textarea,
label {
  display: block;
  outline: none;
  border: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a:hover {
  text-decoration: none;
}

section {
  display: block;
}

.pointer {
  cursor: pointer;
}

.transition-all-04 {
  transition: all 0.4s;
}
