//colours

$black: #000;
$black-light: #333;
$black-light-one: #212529;
$black-light-two: #222;

$white: #fff;

$grey: #888;
$grey-dark: #666666;
$grey-light: #e6e6e6;
$grey-light-one: #f2f2f2;
$grey-light-two: #aaa;
$grey-light-three: #999;
$grey-light-four: #797979;
$grey-light-five: #b2b2b2;

$blue-light: #717fe0;
$blue-light-one: #6c7ae0;
