.containerMenuDesktop {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}

.wrapMenuDesktop {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 84px;
  left: 0px;
  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}

.limiterMenuDesktop {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.wrapIconHeader {
  flex-grow: 1;
}
.flex {
  display: flex;
}

.flexW {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexRM {
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

@media (min-width: 992px) {
  .containerMenuDesktop {
    display: block;
  }
}
